
.phone-frame {
  max-width: 375px;
  height: 812px;
  background: #F7F8F9 0% 0% no-repeat padding-box;
  opacity: 1;
  border: 1px solid #E70B897B;
  border-radius: 4px;
  overflow: hidden; /* Ensures content stays inside the "screen" */
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
  /* position: relative; */
  margin: auto;
}

.heading{
  text-align: left;
font-family: Rubik;
letter-spacing: 0px;
color: #1D2226;
opacity:1;
font-size:28px;
font-weight:500;
}
.sub-heading{
  text-align: left;
font-family: Rubik;
letter-spacing: 0px;
color: #1D2226;
opacity:0.6;
font-size:18px;
font-weight:400;
}
